<!DOCTYPE html>
<html>
<head>
<style>
#myid {
  background-color: blue;
}

.myclass {
  background-color: gray;
}

p {
  background-color: orange !important;
}
</style>
</head>
<body>

<p>Nguyễn Thị Ngát 2121050192.</p>

<p class="myclass">Nguyễn Thị Ngát 2121050192.</p>

<p id="myid">Nguyễn Thị Ngát 2121050192.</p>

</body>
</html>

