<!DOCTYPE html>
<html>
<head>
<style>
h1 {
  font-size: 30px;
}

p {
  font-size: 25px;
  line-height: 50px;
}
</style>
</head>
<body>

<h1>Nguyễn Thị Ngát 2121050192</h1>
<h2>Nguyễn Thị Ngát 2121050192</h2>
<p>Nguyễn Thị Ngát 2121050192.</p>
<p>Nguyễn Thị Ngát 2121050192</p>

</body>
</html>
